/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
h1 {
    padding: 20px 0px;
    text-align:center;
    text-transform:uppercase;
  }

.content-area {
  font-size: 12px;
}
